//COLORS
$primary-color: #272727;
$secondary-color: #6146ff;
$info-color: #61a0ff;
$success-color: #4bc34b;
$warning-color: #ffb52b;
$danger-color: #b92626;
$neutral-color: #99a3b4;
$white-color: #ffffff;
$black-color: #000000;
