$primary-color: #272727;
$secondary-color: #6146ff;
$white-color: #ffffff;

//BUTTON TOKENS
$button-background-primary: $primary-color;
$button-background-secondary: $secondary-color;

$button-outlined-border-primary: $primary-color;
$button-outlined-border-secondary: $secondary-color;

$button-outlined-text-primary: $primary-color;
$button-outlined-text-secondary: $secondary-color;

$button-text-primary: $white-color;
$button-text-secondary: $white-color;
