.koum-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  font-weight: 700;
  line-height: 1;
  font-family: "Nunito";
  transition: scale 0.3s;
}
.koum-button label {
  display: flex;
  align-items: center;
  gap: 12px;
}
.koum-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0;
  transition: all 0.5s;
  mix-blend-mode: lighten;
}
.koum-button.outlined::before {
  mix-blend-mode: hue;
}
.koum-button.square {
  border-radius: 10px;
}
.koum-button.square::before {
  border-radius: 8px;
}
.koum-button:active {
  scale: 90%;
}
.koum-button:focus-visible {
  outline-offset: 1px;
  outline: solid 4px rgba(125, 214.0607734807, 255, 0.549);
}
.koum-button:hover::before {
  left: 0px;
  top: 0px;
  opacity: 0.5;
  position: absolute;
  inset: 0;
}
.koum-button:disabled {
  user-select: none;
  cursor: not-allowed;
  background-color: #99a3b4;
  color: #fff;
}
.koum-button:disabled.outlined {
  border: 2px solid #99a3b4;
  background-color: transparent;
  color: #99a3b4;
}
.koum-button:disabled label {
  cursor: not-allowed;
}
.koum-button:disabled:active {
  scale: unset;
}
.koum-button:disabled::before {
  content: none;
}
.koum-button.primary:not(:disabled) {
  background-color: #272727;
  color: #fff;
}
.koum-button.primary:not(:disabled).outlined {
  border: 2px solid #272727;
  background-color: transparent;
  color: #272727;
}
.koum-button.primary:not(:disabled)::before {
  background-color: silver;
}
.koum-button.secondary:not(:disabled) {
  background-color: #6146ff;
  color: #fff;
}
.koum-button.secondary:not(:disabled).outlined {
  border: 2px solid #6146ff;
  background-color: transparent;
  color: #6146ff;
}
.koum-button.secondary:not(:disabled)::before {
  background-color: rgb(184.1135135135, 172, 255);
}
.koum-button.tertiary:not(:disabled) {
  background-color: #ff8bda;
  color: #fff;
}
.koum-button.tertiary:not(:disabled).outlined {
  border: 2px solid #ff8bda;
  background-color: transparent;
  color: #ff8bda;
}
.koum-button.tertiary:not(:disabled)::before {
  background-color: rgb(255, 241, 250.5344827586);
}
.koum-button.info:not(:disabled) {
  background-color: #61a0ff;
  color: #fff;
}
.koum-button.info:not(:disabled).outlined {
  border: 2px solid #61a0ff;
  background-color: transparent;
  color: #61a0ff;
}
.koum-button.info:not(:disabled)::before {
  background-color: rgb(199, 221.3291139241, 255);
}
.koum-button.success:not(:disabled) {
  background-color: #4bc34b;
  color: #fff;
}
.koum-button.success:not(:disabled).outlined {
  border: 2px solid #4bc34b;
  background-color: transparent;
  color: #4bc34b;
}
.koum-button.success:not(:disabled)::before {
  background-color: rgb(189.75, 233.25, 189.75);
}
.koum-button.warning:not(:disabled) {
  background-color: #ffb52b;
  color: #fff;
}
.koum-button.warning:not(:disabled).outlined {
  border: 2px solid #ffb52b;
  background-color: transparent;
  color: #ffb52b;
}
.koum-button.warning:not(:disabled)::before {
  background-color: rgb(255, 216.6037735849, 145);
}
.koum-button.danger:not(:disabled) {
  background-color: #b92626;
  color: #fff;
}
.koum-button.danger:not(:disabled).outlined {
  border: 2px solid #b92626;
  background-color: transparent;
  color: #b92626;
}
.koum-button.danger:not(:disabled)::before {
  background-color: rgb(240.8565022422, 186.1434977578, 186.1434977578);
}
.koum-button.neutral:not(:disabled) {
  background-color: #99a3b4;
  color: #fff;
}
.koum-button.neutral:not(:disabled).outlined {
  border: 2px solid #99a3b4;
  background-color: transparent;
  color: #99a3b4;
}
.koum-button.neutral:not(:disabled)::before {
  background-color: rgb(211.7796610169, 216.0169491525, 223.2203389831);
}
.koum-button.small {
  padding: 10px 16px;
  font-size: 12px;
}
.koum-button.small.icon-button {
  padding: 10px 12px;
}
.koum-button.small.outlined {
  padding: 8px 14px;
}
.koum-button.medium {
  padding: 12px 20px;
  font-size: 14px;
}
.koum-button.medium.icon-button {
  padding: 12px 14px;
}
.koum-button.medium.outlined {
  padding: 10px 18px;
}
.koum-button.large {
  padding: 12px 24px;
  font-size: 16px;
}
.koum-button.large.icon-button {
  padding: 14px 16px;
}
.koum-button.large.outlined {
  padding: 10px 22px;
}

/*# sourceMappingURL=button.css.map */
