@import './design-tokens.scss';
$color-variants: primary, secondary, info, success, danger, warning, neutral;

$button-variants: (
    primary: (
        backgroundColor: $primary-color,
        text: #fff,
        border: $primary-color,
        outlinedBorder: $primary-color,
        outlinedText: $primary-color,
        hoverOpacity: 60%,
    ),
    secondary: (
        backgroundColor: $secondary-color,
        text: #fff,
        outlinedBorder: $secondary-color,
        outlinedText: $secondary-color,
        hoverOpacity: 20%,
    ),
    info: (
        backgroundColor: $info-color,
        text: #fff,
        outlinedBorder: $info-color,
        outlinedText: $info-color,
        hoverOpacity: 20%,
    ),
    success: (
        backgroundColor: $success-color,
        text: #fff,
        outlinedBorder: $success-color,
        outlinedText: $success-color,
        hoverOpacity: 30%,
    ),
    warning: (
        backgroundColor: $warning-color,
        text: #fff,
        outlinedBorder: $warning-color,
        outlinedText: $warning-color,
        hoverOpacity: 20%,
    ),
    danger: (
        backgroundColor: $danger-color,
        text: #fff,
        outlinedBorder: $danger-color,
        outlinedText: $danger-color,
        hoverOpacity: 40%,
    ),
    neutral: (
        backgroundColor: $neutral-color,
        text: #fff,
        outlinedBorder: $neutral-color,
        outlinedText: $neutral-color,
        hoverOpacity: 20%,
    ),
);

$border-width: 2px;
$round-border-radius: 20px;
$square-border-radius: 10px;
.koum-button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: $round-border-radius;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans';
    transition: scale 0.3s;

    label {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &::before {
        content: '';
        position: absolute;
        left: -50px;
        top: -0px;
        width: 100%;
        height: 100%;
        border-radius: $round-border-radius;
        opacity: 0;
        transition: all 0.5s;
        mix-blend-mode: lighten;
    }

    &.outlined {
        &::before {
            mix-blend-mode: hue;
        }
    }

    &.square {
        border-radius: $square-border-radius;
        &::before {
            border-radius: 8px;
        }
    }

    &:active {
        scale: 90%;
    }

    &:focus-visible {
        outline-offset: 1px;

        outline: solid 4px lighten($color: $focus-color, $amount: 10%);
    }

    &:hover {
        &::before {
            left: -0px;
            top: -0px;
            opacity: 0.5;
            position: absolute;
            inset: 0;
        }
    }

    &:disabled {
        user-select: none;
        cursor: not-allowed;
        background-color: map-get(
            map-get($button-variants, neutral),
            backgroundColor
        );
        color: map-get(map-get($button-variants, neutral), text);
        &.outlined {
            border: 2px solid
                map-get(map-get($button-variants, neutral), outlinedBorder);
            background-color: transparent;
            color: map-get(map-get($button-variants, neutral), outlinedText);
        }
        label {
            cursor: not-allowed;
        }

        &:active {
            scale: unset;
        }

        &::before {
            content: none;
        }
    }

    @each $variant, $props in $button-variants {
        &.#{$variant}:not(:disabled) {
            background-color: map-get($props, backgroundColor);
            color: map-get($props, text);
            &.outlined {
                border: 2px solid map-get($props, outlinedBorder);
                background-color: transparent;
                color: map-get($props, outlinedText);
            }
            &::before {
                background-color: lighten(
                    $color: map-get($props, backgroundColor),
                    $amount: map-get($props, hoverOpacity)
                );
            }
        }
    }

    // SIZES
    &.small {
        padding: 10px 16px;
        font-size: 12px;
        &.icon-button {
            padding: 10px 12px;
        }
        &.outlined {
            padding: calc(10px - $border-width) calc(16px - $border-width);
        }
    }
    &.medium {
        padding: 12px 20px;
        font-size: 14px;
        &.icon-button {
            padding: 12px 14px;
        }
        &.outlined {
            padding: calc(12px - $border-width) calc(20px - $border-width);
        }
    }
    &.large {
        padding: 12px 24px;
        font-size: 16px;
        &.icon-button {
            padding: 14px 16px;
        }
        &.outlined {
            padding: calc(12px - $border-width) calc(24px - $border-width);
        }
    }
}
