//COLORS
$primary-color: #272727;
$secondary-color: #6146ff;
$tertiary-color: #ff8bda;
$info-color: #61a0ff;
$success-color: #4bc34b;
$warning-color: #ffb52b;
$danger-color: #b92626;
$neutral-color: #99a3b4;

$focus-color: rgba(74, 198, 255, 0.549);
$white-color: #ffffff;
$black-color: #000000;
