@import './design-tokens.scss';

.koum-group-radio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.koum-radio {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-family: 'Nunito';
    cursor: pointer;
    width: max-content;
    label {
        cursor: pointer;
    }
}

.koum-radio input[type='radio'] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

    + label::before {
        transition: background 0.4s;
    }

    &:focus-visible + label::before {
        outline-offset: 0px;
        outline: solid 3px lighten($focus-color, 10%);
    }

    &:checked + label::before {
        border-color: $primary-color;
    }
}

.koum-radio
    input[type='radio']:not(:checked)
    input[type='radio']:not(:disabled)
    + label:hover::before {
    background-color: transparentize($primary-color, 0.8);
    border-color: $primary-color;
}

.koum-radio label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    user-select: none;
}

.koum-radio label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    border: 2px solid $grey-400;
    border-radius: 50%;
    background: white;
}

.koum-radio input[type='radio']:checked + label::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $primary-color;
}

/* Disabled */
.koum-radio input[type='radio']:disabled + label {
    cursor: not-allowed;
    color: $grey-200;

    &::after {
        background: $grey-200;
    }
}

.koum-radio input[type='radio']:disabled + label::before {
    border-color: $grey-200;
    background: white;
}
